.work {padding-top: 1px;

    min-height: 100vh;
    background-color: #fff;

    &__container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1370px;
        

    }

    &__title {
        margin: 100px auto 50px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        line-height: 33px;
        margin-bottom: 60px;
    }

    &__name {
        font-weight: 500;
        font-size: 30px;
        letter-spacing: 0.6px;
        text-transform: capitalize;
        color: $bgray;
    }

    &__text {
        width: 100%;
        min-width: 680px;
        font-size: 18px;
        letter-spacing: 0.4px;
        font-weight: 400;
        color: $bgray;
    }

    &__date {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.4px;
        color: #7E7C7C;
        opacity: 0.6;
    }
}