.menu {
    width: 100%;
    max-width: 380px;
    margin: 60px auto 100px 120px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 6px;
    z-index: 1;


    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        color: #000;
        padding: 5px;
        transition: .3s;

        &:hover {
            color: #000;
            text-decoration: none;
            background-color: $pink;
        }
    }
}